<main>
  <div *ngIf="!isRegistrationCompleted">
    <h2>Registration Form</h2>
    <form action="" [formGroup]="registrationForm">
      <h3>Contact Information</h3>
      <div class="form-inline">
        <div class="form-group"> <label>First Name <span>*</span></label>
              <input type="text" id="firstName" formControlName="firstName" required>
              <span style="color: red;" *ngIf="firstName && firstName.invalid && firstName.touched">
                This input field is required
              </span>
        </div>
        <div class="form-group"> <label for="lastName">Last Name <span>*</span></label>
          <input type="text" id="lastName" formControlName="lastName" required>
          <span style="color: red;" *ngIf="lastName && lastName.invalid && lastName.touched">
            This input field is required
          </span>
        </div>
      </div>
      <div class="form-inline">
            <div class="form-group"> <label for="">Email Address <span>*</span></label>
              <input type="email" id="email" formControlName="emailAddress" required>
              <span style="color: red;" *ngIf="email && email.invalid && email.touched">
                Invalid Gmail
              </span>
            </div>
            <div class="form-group"> <label for="">Phone Number <span>*</span></label>
              <input type="tel" id="phoneNumber" formControlName="phoneNumber" required>
              <span style="color: red;" *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched">
                Invalid Number
              </span>
            </div>
        </div> <br>
        <h3>Other Details</h3>
        <div class="form-group"> <label for="">College Name</label>
          <input type="text" id="collegeName" formControlName="collegeName" required> </div>
        <div class="form-group"> <label for="">Year of Passing</label>
          <input type="text" id="year" formControlName="year" required>
        </div>
        <div class="form-group"> <label for="">Department</label>
          <input type="text" id="department" formControlName="department">
        </div>
        <div class="button" style="display:flex;justify-content:center;">
            <button mat-raised-button color="primary" (click)="register()" [disabled]="registrationForm.invalid">Register</button>
        </div>
    </form>
    <mat-spinner *ngIf="spinnerActive" class="mat-spinner" [diameter]="60"></mat-spinner>

  </div>
  <div *ngIf="isRegistrationCompleted">
    <h1 class="registration-successful-text">You have successfully registered. You will receive call from us.</h1>
  </div>
</main>