<main>
    <h2>Registration Form</h2>
    <form action="">
        <h3>Contact Information</h3>
        <div class="form-inline">
            <div class="form-group"> <label for="">First Name <span>*</span></label> <input type="text"
                     required> </div>
            <div class="form-group"> <label for="">Last Name <span>*</span></label> <input type="text" 
                    required> </div>
        </div>
        <div class="form-inline">
            <div class="form-group"> <label for="">Email Address <span>*</span></label> <input type="email"
                     required> </div>
            <div class="form-group"> <label for="">Phone Number <span>*</span></label> <input type="tel"
                     required> </div>
        </div> <br>
        <h3>Other Details</h3>
        <div class="form-group"> <label for="">College Name</label> <input type="text"
                 required> </div>
        <div class="form-group"> <label for="">Year</label> <input type="text" required> </div>
        <div class="form-group"> <label for="">Department</label> <input type="text"> </div>
        <div class="button" style="display:flex;justify-content:center;">
            <button mat-raised-button color="primary">Register Now</button>
            <a mat-raised-button href="home" target="_blank" style="margin-left:10px">Link</a>
        </div>
    </form>
</main>