* {
  margin-right: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* toolbar */
mat-toolbar {
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
}

mat-toolbar a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

/* navbar */
nav {
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0;
  padding: 20px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  background-color: white;
  width: 100px;
  margin-left: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: 1px dashed black;
}

/* ------------------------ */
/* main-content */
.main {
  display: block;
}

/* content1 */
.con1 {
  box-sizing: border-box;
  margin-top: 100px;
  display: flex;
}

.con1 img {
  display: flex;
  float: right;
}

.inside h1 {
  font-weight: 500;
}

.con1 .inside {
  margin-top: 150px;
  align-items: center;
  display: block;
  justify-content: center;
}

/* -------------------- */
/* content2 */
.main .con2 {
  margin-top: 100px;
}

.con2 h1 {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.con2 .card_content .car_img {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}

/* card*/
.card_content {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

/* ------------------------ */
/* content3 */
.con3 {
  margin-top: 100px;
}

.con3 h1 {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

/*  */
.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

/* ------------------------------ */
/* Footer */
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  bottom: 0px;
  width: 100%;
  /* background: #111; */
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  /* background: #1a1a1a; */
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  /* background: #f12020; */
  font-size: 25px;
}
.p .content .fas{
  font-size: 1.4375rem;
  /* background: #1a1a1a; */
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.p .content .fas:hover{
  background: #f12020;
}
.p .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.p .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  /* background: #151515; */
  padding-left: 10px;
  /* border: 1px solid #222222; */
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  /* background: #f12020; */
  background-color: #3498db;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: rgb(13, 100, 186);
}
.bottom p{
  padding: 5px;
  font-size: 0.9375rem;
  /* background: #151515; */
}
.bottom p span{
  color: #656565;
}
.bottom p a{
  color: #f12020;
  text-decoration: none;
}
.bottom p a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}