<body>
  <!--==========================
  Header
  ============================-->

  <header id="header" style="background:#fff;">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fi fi-brands-twitter"></i></a>
          <a href="#" class="facebook"><i class="fi fi-brands-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fi fi-brands-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fi fi-brands-instagram"></i></a>
        </div>
      </div>
    </div>

    <!-- <button id="call" class="btn-call"><div class="icon"></div>Call Us</button> -->
    <div class="container">


      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>Mono Space Academy</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="#footer">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix" style="background: rgb(217, 226, 240);">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Learn Python<br>Programming Language <br> with us.<br><br><span id=typed></span></h2>
          <!-- <span id="typed"></span> -->
          <div>
            <a href="register" class="btn-get-started scrollto">Register Now!</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="../assets/intro.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="../assets/about.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <p>We Mono Space Academy taking Online, Classroom & Corporate Training with the best quality, we target our customer satisfaction which stands out from others..</p>
              <ul>
                <li><i class="fi fi-bs-check"></i> 3 Months Course.</li>
                <li><i class="fi fi-bs-check"></i> Only in Weekends.</li>
                <li><i class="fi fi-bs-check"></i> Certification.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Delivery</h3>
          <!-- <p>Our team of experts service your washing machine, Fridge we send the best technician who able service your washing machine & Fridge model,
            We provide Washing Machine/ Fridge Repair services in Chennai for home and commercial repair service and maintenance of machine.</p> -->
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;">
                <img src="../assets/classroom.png" style="color: #ff689b; size: 20%; width: 40px; height: 40px;" alt="">
                <!-- <i class="ion-ios-analytics-outline" style="color: #ff689b;"></i> -->

              </div>
              <h4 class="title"><a href="Pages/washing-machine.html">Class Room Training</a></h4>
              <p class="description">Our Classroom Training allows you to teach our students in a clean and lively environment that will be interactive and also create an opportunity for social interaction.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ced3d3;">
                <!-- <i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i> -->
                <img src="../assets/videoconference.png" style="color: #3fcdc7; width: 40px; height: 40px;" alt="">
              </div>
              <h4 class="title"><a href="Pages/refrigerator.html">Online Training</a></h4>
              <p class="description">We recommend Online Training for our students who request for extra focus from the trainers online that helps them to increase their knowledge .</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #8c9e9d;">
                <!-- <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i> -->
                <img src="../assets/coding.png" style="color: #3fcdc7; width: 40px; height: 40px;" alt="TV">
              </div>
              <h4 class="title"><a href="Pages/television.html">Improve Coding Skills</a></h4>
              <p class="description">“Learn and Implement” is our theme and we follow that for all the real time hands on training that we provide for each technology.</p>
            </div>
          </div>
          <!-- <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #b9e0dd;">
                <i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i>
                <img src="img/air-conditioner.svg" style="color: #66bbb4; width: 40px; height: 40px;" alt="">
              </div>
              <h4 class="title"><a href="Pages/air-conditioner.html">AC</a></h4>
              <p class="description">AC repair is generally a quick and simple process, and our team of fully trained engineers can carry out work.</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->


    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Why Choose us?<br><br></h3>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #c5e4e2;">
                <img src="../assets/itexpert.png" style="color: #ff689b; size: 20%; width: 40px; height: 40px;" alt="">
                <!-- <i class="ion-ios-analytics-outline" style="color: #ff689b;"></i> -->

              </div>
              <h4 class="title"><a href="">IT Experts as Trainers</a></h4>
              <p class="description">Learning a technology with a professional who is well expertise in that solve 60% of yout needs</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ced3d3;">
                <!-- <i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i> -->
                <img src="../assets/handson.png" style="color: #3fcdc7; width: 40px; height: 40px;" alt="">
              </div>
              <h4 class="title"><a href="">hands-on Training</a></h4>
              <p class="description">We support training with more pratical classes. So, we always preferto give hands-on training.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #8c9e9d;">
                <!-- <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i> -->
                <img src="../assets/fees.png" style="color: #3fcdc7; width: 40px; height: 40px;" alt="TV">
              </div>
              <h4 class="title"><a href="">Affordable Fees</a></h4>
              <p class="description">We are dead cheap in fees. Quality training with less price is only at mono space academy.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->


    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call Now</h3>
            <p class="cta-text">Start today for a better tomorrow.</p>
            <p class="cta-text">CALL :+91 9988776655, 9977886655</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="tel:8248312033">call now</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">

    <div class="footer-top" style="width:100%;">
        <div class="footer-container">
            <div class="container" style="padding-bottom: 10px;">
                <a href="#">
                  <h2 style="padding-top: 20px;">Mono Space Academy</h2>
                </a>
                <h6 class="address">Address: 8, 1st Floor, Opposite of Mass hotel, Pondicherry.<br> Pond1cherry-005</h6>
                <h6>Phone: +91 9988776655, 9977886655</h6>
                <h6>Email: monospaceacademy@gmail.com</h6>
            </div>
  
            <div class="copyright">
                &copy; Copyright <strong>Mono Space Academy</strong>. All Rights Reserved
              </div>
              <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </div>
    </div>
  </footer><!-- #footer -->

  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>


</body>

<router-outlet></router-outlet>