<div class="navbar">
  <mat-toolbar>
    <a href=""><span><i class="fi fi-rs-marker"></i>Near Police Station,Pondicherry</span></a>
    <!-- <div class="social">
      <a href=""><span><i class="fi fi-brands-instagram"></i></span></a>
      <a href=""><span><i class="fi fi-brands-twitter"></i></span></a>
    </div> -->
  </mat-toolbar>
  <nav>
    <img src="../../../assets/logo.png" alt="LOGO" class="logo">
    <ul>
      <li><a>HOME</a></li>
      <li><a>COURSE</a></li>
      <li><a>CONTACT US</a></li>
      <li><a>ABOUT</a></li>
    </ul>
  </nav>
</div>
<div class="main">
  <div class="con1">
    <div class="inside">
      <h1>Python Training in Puducherry</h1>
      <p>Python Developer's are in high demand. Learn Python Programming Language from Beginner to Advanced level
        exclusively designed with practical,
        real-time Scenarios for meeting the purpose of the Industry Demands.
        Best Course Content with hands-on Python Course in puducherry</p>
    </div>
    <img src="../../../assets/10.jpg" alt="img">
  </div>
  <div class="con2">
    <h1>Modes of Delivery</h1>
    <div class="card_content">
      <div class="card1">
        <mat-card>
          <img mat-card-avatar src="../../../assets/online.png" class="car_img">
          <mat-card-title>Online training</mat-card-title>
          <mat-card-subtitle>Instructor Led live <br> online training</mat-card-subtitle>
        </mat-card>
      </div>
      <div class="card2">
        <mat-card>
          <img mat-card-avatar src="../../../assets/classroom.png" class="car_img">
          <mat-card-title>Classroom training</mat-card-title>
          <mat-card-subtitle>Instructor Led classroom <br> training</mat-card-subtitle>
        </mat-card>
      </div>
      <div class="card3">
        <mat-card>
          <img mat-card-avatar src="../../../assets/onetoone.png" class="car_img">
          <mat-card-title>One to One training</mat-card-title>
          <mat-card-subtitle>Customized and Exclusive training <br> based on your requirement</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="con3">
    <h1>Course Content</h1>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title style="display:flex;justify-content:center">
            Python course
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Basics
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Introduction</p>
        <p>Python Variables</p>
        <p>Python Datatypes</p>
        <p>Python Advanced Datatypes</p>
        <p>Python Function</p>
        <p>Python Type Conversion</p>
        <p>Python Loops and Conditions</p>
        <p>Python Operators</p>
        <p>Python I/O and import</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Object Oriented Programming Language
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Object and Class</p>
        <p>Inheritance</p>
        <p>Polymorpism</p>
        <p>Abstraction</p>
        <p>Encapsulation</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Data Strucutres
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Linked List</p>
        <p>Heap</p>
        <p>Stack</p>
        <p>Queue</p>
        <p>Tree</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<footer>
  <div class="main-content">
    <div class="left box">
      <h2>About us</h2>
      <div class="content">
        <p>Name is a academy where you can learn Proramming language and problem solving skills to get high paid job.</p>
        <div class="social">
          <a href="https://facebook.com/coding.np"><span class="fi fi-brands-instagram"></span></a>
          <a href="#"><span class="fi fi-brands-twitter"></span></a>
          <!-- <a href="https://instagram.com/coding.np"><span class="fi fi-brands-instagram"></span></a>
          <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a> -->
        </div>
      </div>
    </div>
    <div class="p box">
      <h2>Address</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Near Police Station, Pondicherry</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">+91-9988776655</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">abc@example.com</span>
        </div>
      </div>
    </div>
    <div class="right box">
      <h2>Contact us</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">Email *</div>
            <input type="email" required>
          </div>
          <div class="msg">
            <div class="text">Message *</div>
            <textarea rows="2" cols="25" required></textarea>
          </div>
          <div class="btn">
            <button type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>
      <span class="credit">Created By <a href="">Developer</a> | </span>
      <span class="fi fi-rr-copyright"></span><span> 2020 All rights reserved.</span>
    </p>
  </div>
</footer>