*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}

/*Toolbar*/
mat-toolbar{
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 10;
}
mat-toolbar ul{
  z-index: 5;
}

.profile ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.profile ul li {
  list-style-type: none;
  position: relative;
}
.profile li ul{
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
  position: absolute;
  align-items: flex-start;
  display: none;
  gap: 0.3rem;
  opacity: 0;
  padding: 1rem 0.6rem;
  box-shadow: 0px 0px 50px rgba(20, 18, 18, 0.25);
}
.profile li ul a{
  text-decoration: none;
  color:black;
  gap: 0.725rem;
  cursor:pointer;
  /*padding: 0.1rem 0.1rem;*/
  font-size: 18px;
  transition: all 0.5s ease;
  /* color: #565353; */
}
ul li:hover>ul,ul li ul:hover{
  visibility: visible;
  opacity: 1;
  display: block;
}
mat-icon{
  width: 30px;
  font-size: 20px;
  position: relative;
  color: #565353;
}
.profile li ul a:hover{
  font-size:20px;
}

/*student creation*/
form{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}
::placeholder{
  color: #565353;
}
button{
  margin-top: 30px;
  width: 100%;
  background-color:#080710;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.alert{
  color: red;
}


/*Table*/
table{
  width: 100%;
}
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  /*margin: 10px 70px 70px;*/
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  /* background-color: white; */
  box-shadow: 3px 3px 5px 6px #d8d2d2;
}

.fl-table th{
  font-weight: 800;
  font-style: bold;
}
.fl-table td, .fl-table th {
  text-align: center;
  padding: 12px;
  color: #565353;
  font-family: 'Montserrat',sans-serif;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

/* .fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
} */


/* .fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
} */

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child{
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td, .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

/*upload*/
.container{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  display: block;
  justify-content: center;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.container h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
/* Answers */
details {
  user-select: none;
  width: 100%;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}